{% extends 'base.html' %}

{% block body %}
    <div class="panel-body text-center">
        <div class="btn-group-vertical">
            <form class="register-form">
                <p class="text-center">
                    <a class="btn btn-primary btn-lg btn-block" href="../student/create">Start Applications</a>
                    <a class="btn btn-success btn-lg btn-block" href="../students/list">View Applications</a>
                    <button type="button" class="btn btn-info btn-lg btn-block">Completed Applications</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Incomplete Applications</button>
                </p>
            </form>

        </div>
    </div>
{% endblock %}
