{% extends 'base.html' %}

{% block body %}
    <div class="btn-group-vertical" role= "group" >
        <form class="register-form">
            <a class="btn btn-primary btn-lg btn-block" href="../accounts/student">Start Applications</a>
            <button type="button" class="btn btn-success btn-lg btn-block">View Applications</button>
            <button type="button" class="btn btn-info btn-lg btn-block">Completed Applications</button>
            <button type="button" class="btn btn-danger btn-lg btn-block">Incomplete Applications</button>

        </form>

    </div>

{% endblock %}
